@tailwind base;

@tailwind components;

hr {
    width: 60%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: #a0aec0;
    opacity: 0.5;
}

@tailwind utilities;
